/* html */
html { 
  height: 100% 
}

body { 
  height: 100%; 
  margin: 0px; 
  padding: 0p;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}
  
/* mapa */
#map_canvas { height: 100% }

/* sidebar */
#sidebar {
  float: left;
  width: 300px;
	height: 100%;
	overflow: auto;
}

#sidebar p {
/*  font-size: 12px;*/
  
}

.ui-accordion-content {
	overflow-x: hidden !important;
}

.help {
	font-size: 10px;
	position:absolute;
	bottom:0;
}

#sidebar-header {
  padding: 5px;
  color: white;
  background-image:url('../images/header.png');
  font-size: 14px;
  text-align: center;
}

#sidebar-header h1{
  padding: 0px;
  margin: 0px;
}

.eventlist {
	margin: 0 0 0 10px;
	min-height: 0px;
	overflow:auto;
}


/* search form */
form#search {
/*  padding: 5px;*/
  text-align: center;
}

#search {
  text-align: center;
}

.slider {
  margin: 10px 5px 10px 5px;
  
}


/* event */
.event {
/*  font-size: 12px;*/
  padding: 0 0 10px 5px;
}

.ico-artist {background-image:url('../images/glyphicons__033_group.png') !important;background-repeat:no-repeat !important;background-position: 10px 8px  !important;}
.ico-place {background-image:url('../images/glyphicons__065_home.png') !important;background-repeat:no-repeat !important;background-position: 14px 8px  !important;}
.accordion-title {text-align:left !important;padding: 10px 0 10px 58px !important;}
.infotext {font-size:12px;}
.search-input {background:url('../images/glyphicons__031_search.png') no-repeat 3px 3px;border: 1px solid #D8DCDF;border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;width: 246px;height:20px;line-height:20px;padding-left:25px;}