/* html */
html { 
  height: 100% 
}

body { 
  height: 100%; 
  margin: 0px; 
  padding: 0p;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}
  
/* mapa */
#map_canvas { height: 100% }

/* sidebar */
#sidebar {
  float: left;
  width: 300px;
}

#sidebar p {
/*  font-size: 12px;*/
  
}

#sidebar-header {
  padding: 5px;
  color: white;
  background-image:url('../images/header.png');
  font-size: 14px;
  text-align: center;
}

#sidebar-header h1{
  padding: 0px;
  margin: 0px;
}


/* search form */
form#search {
/*  padding: 5px;*/
  text-align: center;
}

#search {
  text-align: center;
}

.slider {
  margin: 10px 5px 10px 5px;
  
}


/* event */
.event {
/*  font-size: 12px;*/
  padding: 0 0 10px 5px;
}